body {
  font-family: "DM sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(52, 45, 39);
}

a {
  text-decoration: none;
}

#main-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: rgba(29, 26, 24, 0.8);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#logo {
  font-family: "Boldonse", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column; 
  justify-content: space-around; 
  display: none ;
}

.menu-btn span {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: rgb(238, 164, 80);
  border: 0.3px solid rgb(238, 164, 80);
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem ;
}

#main-header nav a:hover {
  color: rgb(228, 163, 44);
  font-style: italic;
}

#side-drawer {
  width: 100%;
  height: 100% ;
  background-color: rgba(29, 26, 24, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;

}

#side-drawer:target {
  display: block;
  
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  padding: 0;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 2rem;
}

#side-drawer svg {
  width: 50px;
  height: 50px;
  transition: transform 1.2s ease;
}

#side-drawer svg:hover {
  transform: rotate(180deg);
}

#side-drawer a:hover {
  color: rgb(238, 164, 80);
  font-style: italic;
}

main h1 {
  margin-top: 180px;
  text-align: center;
  font-family: "Boldonse", sans-serif;
  font-size: 3rem ;
  color: rgb(238, 164, 80);
}

#latest-products {
  width: 80%;
  margin: 2rem auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.food-item {
  background: linear-gradient(
    45deg,
    rgba(255, 232, 206, 0.8),
    rgba(255, 209, 123, 0.8));
    border-radius: 20px;
    overflow: hidden;
}

.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
    margin-bottom: 2rem;
    padding: 2rem ;
    text-align: center;
}

.food-item-content h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.btn {
    background-color: rgb(228, 163, 44);
    /* background: transparent; */
    color: white;
    border-radius: 20px;
    /* border: 1px solid rgb(228, 163, 44); */
    padding: 0.5rem 1.5rem;
}

.btn:hover {
    background-color: rgb(238, 164, 80);
}

@media (max-width: 48rem) {
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
  
  main h1 {
    font-size: 1.8rem;   
  }

  #latest-products ul {
    grid-template-columns: 100%;
  }

}

@media (min-width: 48.001rem) {
  #side-drawer {
    display: none !important;
  }
}